@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hidescroll::-webkit-scrollbar {
  width: 1px;
}

.hidescroll::-webkit-scrollbar-track {
  border-radius: 10vh;
  background: transparent;
}

.hidescroll::-webkit-scrollbar-track:hover {
  border-radius: 10vh;
  background: transparent;
}

.hidescroll::-webkit-scrollbar-track:active {
  border-radius: 10vh;
  background: transparent;
}

.hidescroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10vh;
  border: 1px solid transparent;
}

.hidescroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.hidescroll::-webkit-scrollbar-thumb:active {
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("../public/assets/backgrounds/bg-zach.jpg");
  background-position-y: 20%;
  background-size: cover;
  background-repeat: repeat;
}

.btn-back-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 22px;
  background-color: #192745;
  clip-path: polygon(0 1%, 90% 0, 100% 100%, 0% 100%);
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #2875b4 0%, transparent 50%);
}

.box {
  border: 3px solid;
  border-top: none;
  border-image-slice: 1;
}

.box-crew {
  width: 305px;
}

.box-crew,
.box-preview {
  height: 448px;
}
.box-preview {
  width: 515px;
}

.box-description {
  height: 325px;
}

.box-description,
.box-back {
  width: 419px;
}

.box-back {
  height: 99px;
  background-image: linear-gradient(to top, rgba(247, 216, 14, 0.3) 0%, rgba(40, 117, 180, 0.3) 60%);
  border-image-source: linear-gradient(to top, #f7d80e 0%, transparent 100%);
}

.box-enter {
  background-image: linear-gradient(to top, rgba(40, 117, 180, 0.3) 0%, rgba(40, 117, 180, 0.3) 60%);
  border-image-source: linear-gradient(to top, #2875b4 0%, transparent 100%);
}

.crew-divider {
  height: 2px;
  width: 50%;
  margin: 20px 0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, transparent),
    color-stop(0.5, #2875b4),
    color-stop(0.98, transparent)
  );
}

/* 
** About-us Page Styles
*/

.about {
  aspect-ratio: 7 / 1;
  background: url("../public/assets/borders/border-about.png");
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
}

.gradien {
  border: 3px solid transparent;
  border-top: none;
  border-image-repeat: round;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #004bef 0%, transparent 100%);
  cursor: pointer;
  transition: all 0.5s ease;
}

.gradienbutton {
  border: 3px solid transparent;
  border-top: none;
  border-image-repeat: round;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #f7d80e 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(247, 216, 14, 0.3) 0%, rgba(31, 50, 79, 0.3) 60%);
  cursor: pointer;
  transition: all 0.5s ease;
}

.gradienbackmodal {
  border: 3px solid transparent;
  border-top: none;
  border-image-repeat: round;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #ffffff 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(31, 50, 79, 0.5) 40%);
  cursor: pointer;
  transition: all 0.5s ease;
}

.modal {
  border: 3px solid transparent;
  border-top: none;
  border-image-repeat: round;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #004bef 0%, transparent 100%);
}

.character {
  grid-area: character;
  background: url("../public/assets/backgrounds/bg-committee.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sdg {
  grid-area: sdg;
  background: url("../public/assets/backgrounds/bg-value.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  grid-area: logo;
  background: url("../public/assets/backgrounds/bg-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back {
  grid-area: back;
  width: 100%;
}

.tema {
  grid-area: tema;
  background: url("../public/assets/backgrounds/bg-theme.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zachery {
  grid-area: zachery;
  background: url("../public/assets/backgrounds/bg-zachery.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.character,
.sdg,
.back,
.logo,
.tema,
.zachery {
  transition: background-size 0.5s ease;
  background-size: 140%;
  background-position: center;
}

.character:hover,
.sdg:hover,
.back:hover,
.logo:hover,
.tema:hover,
.zachery:hover {
  background-size: 160%;
  filter: brightness(1.5);
  box-shadow: 0px 0px 5px #004bef;
}

.templategrid {
  display: grid;
  grid-template-areas:
    "character logo tema"
    "character logo tema"
    "character logo tema"
    "character logo zachery"
    "sdg logo zachery"
    "sdg back zachery";
}

@media (max-width: 1023px) {
  .templategrid {
    display: grid;
    grid-gap: 3vw;
    grid-template-areas:
      "character logo"
      "tema zachery"
      "sdg sdg"
      ". ."
      ". ."
      ". ."
      "back back";
  }
  .back {
    width: 60dvw;
  }
}
